/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/


@font-face {
    font-family: 'hershey';
    src: url('fonts/hershey-futuram-webfont.woff2') format('woff2'),
         url('fonts/hershey-futuram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cb{
	clear: both;
}

p{
	padding:10px;
}

.center{
	text-align: center;
}

h1,h2,h3,h4,h5{
	font-family: 'hershey';
	font-weight: bolder;
}

.no-gutter{
	margin:0;
	padding:0;
}

.spacer{
	height: 20px;
}

body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 14px;
}

nav{
	height: 50px;
	font-family: 'hershey';
	font-size: 18px;
}

nav .logo{
	width: 45px;
	height: 45px;
	background: url(img/logo.png) center center no-repeat;
	background-size: contain;
	margin: 10px;
	display: inline-block;
}

ul#menuMain li:first-child{
	padding:0px;
	height: 40px;
	margin-top: 0px;
}

ul#menuMain li{
	display: inline-block;
	list-style: none;
	 padding-top:5px; 
	margin-right: 20px;
	height: 50px; 
	float: left;
	vertical-align:  middle;
	margin-top: 20px;
	text-align: center; 
	position: relative; 
}

ul#menuMain li span:before{
	content: '';
	display:block;
	position: absolute;
	width: 100%;
	height: 0px;
	bottom: 20px;
	background: red;
	transition: all 0.1s linear;
}

ul#menuMain li:hover span:before{
	height: 2px;
	bottom: 10px;
	background: red;
}

ul#menuMain li a{
	color : #000000;
}

ul#menuMain li a:hover{
	color : #666;
	text-decoration: none;
}

ul#menuSecond{
	text-align: right;
	margin-right: 20px;
}

ul#menuSecond li{
	display: inline-block;
	list-style: none;
	padding:5px 10px ;
	height: 40px;
	//float: right;
	vertical-align:  middle;
	margin-top: 20px;
	text-align: center;
}

ul#menuSecond li a{
	color : #000000;
}

ul#menuSecond li a:hover{
	color : #666;
	text-decoration: none;
}

/* Carousel base class */
/*   .carousel {
     margin-bottom: 60px;
   }*/

   .carousel .container {
     position: relative;
     z-index: 9;
   }

   .carousel-control {
     height: 500px;
     margin-top: 0;
     font-size: 120px;
     background-color: transparent;
     border: 0;
     z-index: 10;
   }

   .carousel-control .left{
   	height: 100%;
   }
   
   .carousel .item {
     height: 500px;
   }
   .carousel img {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     height: 500px;
   }

/*   .carousel-caption {
     background-color: transparent;
     position: static;
     max-width: 550px;
     padding: 0 20px;
     margin-top: 200px;
   }
   .carousel-caption h1,
   .carousel-caption .lead {
     margin: 0;
     line-height: 1.25;
     color: #fff;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
   }
   .carousel-caption .btn {
     margin-top: 10px;
   }
*/

.carousel-control.right ,.carousel-control.left{
	background-image: none!important;
	background-repeat: repeat-x;
}

.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	font-size: 10px;
	color: #fff;
	text-align: center;
	text-shadow: 0 ;
	background-color: rgba(0,0,0,0);
	opacity: 1;
}

.cta{
	text-align:center;
	border-radius: 10% ;
	padding: 20px;
	border:solid 2px lightblue;
}

.cta  img{
	max-height: 80px;
}

.cta .ico {
	height: 100px;
}

.cta h3{
	font-size: 24px;
	margin-top: 20px;
}

.cta-btn{
	padding: 20px 0;
}

/*.homePush{
	margin-top: 20px;
	margin-bottom: 30px;
}*/

.homePush h2 , .homePush h2 ,.homePush h2{
	text-align: center;
	font-size: 32px;
	margin-bottom: 40px;
	color: #000;
}

.greyBg{
	background: #002B36;
}

.greyBg h2{
	color: #fff;
}

.homePush{
	padding-top: 40px;
	padding-bottom: 50px;
	position: relative;
}

.tutoItem .tutoBox{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 2%;
	text-align: center;
}

.tutoItem .tutoBox img{
	max-width: 110%;
	min-height: 100%;
	display: block;

}

.tutoItem .tutoBox .overTuto{
	position: absolute;
	bottom:-20%;
	width: 100%;
	height: 50%;
	transition: bottom 0.2s ease;
	color:	#ffffff;
}

.tutoItem .tutoBox .overTuto:before{
	content: '';
    position: absolute;
    top: 15px;
    width: 20px;
    height: 20px;
    z-index: 1000;
    left: 50%;
    border-radius: 50%;
    margin-left: -10px;
    transition: all 0.2s ease;
}

.tutoItem .tutoBox .green.overTuto:before{
    background: lightgreen;
}

.tutoItem .tutoBox .blue.overTuto:before{
    background: blue;
}

.tutoItem .tutoBox .red.overTuto:before{
    background: red;
}

.tutoItem .tutoBox:hover .green.overTuto:before{

    background: url(img/chip.png) no-repeat lightgreen;
    background-position: center !important;
    background-size: 40%;
}

.tutoItem .tutoBox:hover .blue.overTuto:before{

    background: url(img/cncico.png) no-repeat blue;
    background-position: center;
    background-size: 40%;
}

.tutoItem .tutoBox:hover .red.overTuto:before{
    background: url(img/3dprint.png) no-repeat red;
    background-position: center;
    background-size: 40%;
}

.tutoItem .tutoBox:hover .overTuto{
	position: absolute;
	bottom:0;
	width: 100%;
	background: #2c3e50;
	height: 50%;
}


.tutoItem .tutoBox:hover .overTuto:before{
    top:-85px;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
}

.tutoItem .tutoBox .overTuto h4{
	text-align: center;
	font-size: 18px;
	padding:30px 0 10px 0;
}


.tutoItem .tutoBox .overTuto span{
	text-align: center;
	font-size: 14px;
	display: block;
}

.homePush{
	padding-top: 10px;
	padding-bottom: 50px;
	position: relative;
}


.workshopList ul {
	list-style: none;
}

.workshopList ul li img{
	max-width: 100%;
	border-radius: 2%;
}

.workshopList ul li{
	min-height: 150px;
	display: block;
	margin-bottom: 20px;
}

.workshopList ul li h3{
	margin-top:0;
	margin-bottom: 10px;
}

.workshopList ul li .subbtn{
	position: relative;
	text-align: center;
}

.workshopList ul li .subbtn a{
	display: block;
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	min-height: 100%;
}

.workshopList ul li .subbtn button{

}

.workshopList ul li .desc .wsdate{
	background:#002B36;
	border : solid 1px #111 ;
	color: #eee;
	padding: 3px;
	border-radius: 4px;
}

footer{
	background: #2c3e50;
	height: 200px;
}